/* ABOUT US */

.about-us {
  text-align: center;
}

.gallary {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 400px));
}

.about-us h2{
  margin: 2rem;
}

.about-us p {
  font-size: 1.2rem;
  line-height: 1.5;
  display: block;
  width: 60%;
  margin: auto;
}

.about-us h2:last-of-type {
  margin-top: 3rem;
}

.pic-card {
  margin: 2rem;
  /* width: 100%; */
}
