.contact-us{
    text-align: center;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    transform: translateY(-140%);
    animation: slideInFromTop 2s ease-in-out;
    animation-fill-mode:forwards;
}


.contact-us h3{
    font-size: 2rem;
}


.contact-info{
    margin-top: 2rem;
background-color: var(--secondaryColor);
height: 80vh;
}

.email-numbers{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.email-numbers >*{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    /* background-color: ivory; */
}

.tel-numbers>div{
    display: inherit;
    flex-direction: column;
    padding: .5rem 0;
}

.email img,.tel-numbers img{
    height: 100%;
    width: auto;
}
.email{
    font-size: 1.5rem;
}

.contact-us form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 80%;
}


form .input-field{
    text-align: start;
    width: 80%;
    padding: .5rem .2rem;
    display: flex;
    flex-direction: column;
    border-bottom:.2rem solid var(--bodyColor);
    margin-bottom: .5rem;
}

form .input-field:last-child{
    text-align: left;
    border: none;
}

form h3{
    margin-bottom: 2rem;
}


.input-field input{
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    background: inherit;
    width: auto;
    padding: 1rem .2rem;

    
}

.input-field textarea{
    font-size: 1rem;
    background: inherit;
    height: 100%;
    outline: none;
}


form button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 4rem;
    border: none;
    outline: none;
    border-radius: 5rem;

}

/* media query */

@media screen and (max-width:1925px) {
    .contact-us{
        text-align: center;
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        transform: translateY(-140%);
    }
        
}