:root{
    --textColor:#2e2e2d;
    --textColorLight:#949490;
    --primaryColor:linear-gradient(to right,  #f12711, #f5af19);
    --fittingsColor:#ffc32a;
    --bodyColor:#FFF112;
    --mainBackground:#cecfcd;
    --white:#fff;

    /* --secondaryColor:linear-gradient(360deg, #FF150E 0%, #FE400E 35%, #FB7E26 50%,#FA8F1B 100%); */
    /* --primaryColor:linear-gradient(90deg, rgba(254,64,14,1) 0%, rgba(252,110,22,1) 15%, rgba(250,143,27,1) 84%, rgba(251,118,35,1) 100%); */
    /* --tetiaryColor:linear-gradient(55deg, rgba(254,64,14,1) 0%, rgba(252,110,22,1) 61%, rgba(251,144,28,1) 90%, rgba(251,118,35,1) 100%); */

}

/* background: #f12711;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #f5af19, #f12711);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #f5af19, #f12711); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--textColor) ;
         
}

body, html{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--primaryColor);
}
main{
  scroll-behavior: smooth;
  z-index: 1;
  
  
}
section{
    position:relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; 
    padding: 2rem;
    margin: 10vh 0 0 0;
    scroll-behavior: smooth;
   
}


h1,h2{
    font-size: 2.5rem;
}
img{
    width: 100%;
    height: 100%;
}


a{
    text-decoration: none;
}




  
  @media screen and (max-width:768px){
    body,html{
        font-size: 15px;
    }
}
@media screen and (max-width:338px){
  body,html{
      font-size: 10px;
      
  }
}
  

/* Animations*/
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
 

