.header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background:var(--white);
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 8px var(--textColor),
  -8px -8px 8px var(--white);
  /* border-bottom:.2rem solid var(--bodyColor) ; */


}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.nav-links li.active{
  border-bottom: 3px solid var(--fittingsColor);

}

.nav-links li {
  list-style: none;
  font-size: 1rem;
  font-weight: 800;
  
}

.nav-links li:hover {
  border-bottom: 2px solid var(--textColor);
  transition: 0.3ms ease;
  border-radius: 5px;
}

.logo {
  display: flex;
  width: 15%;
  align-items: center;
}

.logo img {
  width: 40%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  position: relative;
  width: 25px;
  height: 4px;
  background: var(--textColor);
  margin: 5px;
  transition: all 0.3s ease;
}

/* animation for nav links */
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* burger toggle of line with the toggle class */

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 90%;
  }
  .nav-links li {
    opacity: 0;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: flex-start;
  }

  .nav-links {
    /* visibility: hidden; */
    position: absolute;
    right: 0;
    height: 40vh;
    top: 10vh;
    background: var(--bodyColor);
    flex-direction: column;
    text-align: start;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 3;
    border-radius: 0 0 1rem 1rem;
  }

  .nav-links li {
    opacity: 0;
    font-size: 1.2rem;
  }

  .burger {
    display: block;
  }

  .header {
    /* height: 5vh; */
    padding: 2rem;
  }

  .logo {
    width: 80px;
  }
}

/*class for when burger is clicked */
.nav-active {
  transform: translateX(0%);
  transition: all 0.4s ease;
}
